.category-card {
  position: relative;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.category-card .category-card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  height: 460px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.parallax-section .btn {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
.parallax-section.parallax-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/MultiPagerWebsite/images12/image3.jpg);
}
.parallax-section.parallax-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/MultiPagerWebsite/images12/image6.jpg);
}

.parallax-section,
.category-card {
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
.parallax-section h2, .parallax-section h3, .parallax-section p,
.category-card h2,
.category-card h3,
.category-card p {
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}